@{
    ViewBag.Title = "About Me";
}

<div class="jumbotron">
    <h1>About Me</h1>
    <div class="clearfix">
        <div class="col-lg-2">
            <img class="img-responsive" src="~/Images/image.jpg" alt="Me" />
        </div>
        <p class="lead">
            Use this part of the site to get to know me. Below, I've included several sections to help, from
            my personal history, to education, extracurriculars, and a lot more!
        </p>
    </div>
</div>