
@{
    ViewBag.Title = "Facebook Login";
}

<h2>Facebook Login</h2>
<hr />
<p>Click the button below to get started!</p>
<button class="btn btn-default" onclick="login()" type="button">Connect</button>

<div id="infoModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Your Facebook Info</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <p><strong>First Name:</strong></p>
                    </div>
                    <div class="col-lg-3"><p id="FirstName"></p></div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <p><strong>Last Name:</strong></p>
                    </div>
                    <div class="col-lg-3"><p id="LastName"></p></div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <p><strong>Full Name:</strong></p>
                    </div>
                    <div class="col-lg-3"><p id="FullName"></p></div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <p><strong>Email:</strong></p>
                    </div>
                    <div class="col-lg-3"><p id="Email"></p></div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <p><strong>DOB:</strong></p>
                    </div>
                    <div class="col-lg-3"><p id="DOB"></p></div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <p><strong>City:</strong></p>
                    </div>
                    <div class="col-lg-3"><p id="City"></p></div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <p><strong>Country:</strong></p>
                    </div>
                    <div class="col-lg-3"><p id="Country"></p></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="cancelledModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Facebook Login</h3>
                </div>
                <div class="panel-body">
                    <p>Something went wrong and you weren't logged in. Please try again.</p>
                </div>

                <button type="button" data-dismiss="modal"></button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function login() {
        FB.login(function (response) {
            if (response.authResponse) {
                FB.api('/me', function (innerResponse) {
                    console.log(innerResponse);

                    FB.api({
                        method: 'fql.query',
                        query: 'select current_location from user where uid = ' + innerResponse.id
                    }, function (fqlResponse) {
                        console.log(fqlResponse[0]);
                        $("#City").text(fqlResponse[0].current_location.city);
                        $("#Country").text(fqlResponse[0].current_location.country);
                    });

                    $("#FirstName").text(innerResponse.first_name);
                    $("#LastName").text(innerResponse.last_name);
                    $("#FullName").text(innerResponse.name);
                    $("#Email").text(innerResponse.email);
                    $("#DOB").text(innerResponse.birthday);

                    $("#infoModal").modal('show');
                });
            }
            else {
                $("#cancelledModal").modal('show');
            }
        },
        {scope: 'email,user_birthday,user_location'});
    }
</script>