
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Welcome, potential employers, to the LoginRadius Assignment!</p>
<hr />
<ul>
    <li>@Html.ActionLink("Part 1: Facebook Integration", "FB", null, new { @class = "btn btn-default" })</li>
    <li>@Html.ActionLink("Part 2: LoginRadius Integration", "LR", null, new { @class = "btn btn-default" })</li>
</ul>

<p>Thank you for your time today, and please note that this site is a work in progress, so areas outside the LoginRadius Demo may not function correctly!</p>