
@{
    ViewBag.Title = "LR";
}

<h2>LoginRadius Demo</h2>
@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
<p>Login using the Facebook button below!</p>
<hr />

<div id="interfacecontainerdiv" class="interfacecontainerdiv"></div>